spring:
  config:
    activate:
      on-profile: staging

  datasource:
    url: jdbc:postgresql://postgres:5432/authdb


  data:
    redis:
      host: redis
      port: 6379
      password: nayak@rth1

server:
  port: 8080
  address: 0.0.0.0